a.inner(href="#contact")
    h2#contact 如何聯絡支援中心？
.answer
    | 如果您在使用本網站時遇到任何問題，請在Telegram 對話
    |
    a.link(href="https://t.me/ethen_market") https://t.me/ethen_market
    | 中描述您的問題.
    br
    | 如欲詢問其他事項，請透過
    |
    a.link(href="mailto:info@ethen.market") info@ethen.market
    | 與我們聯絡.

a.inner(href="#start")
    h2#start 如何開始交易並將資金存入 Ethen？
.answer
    | 請參閱入門指南以熟悉 Ethen 的基本功能。
    br
    | 從您的個人錢包存款到 Ethen 智慧型合約。如果您在造訪網站時已連結錢包，便會自動偵測到您的錢包。或者，您可以將您的私人金鑰直接貼上到錢包地址的欄位中。
    img.gif(src="./media-faq/en/eth_deposit.gif", alt="Deposit ETH")

a.inner(href="#withdraw")
    h2#withdraw 如何取款？
.answer
    img.gif(src="./media-faq/en/eth_withdraw.gif", alt="Withdraw ETH")

a.inner(href="#place")
    h2#place 如何找到價格最好的訂單？
.answer
    | 當您點選「買入/賣出」按鈕並且將您的訂單傳送到伺服器時，會自動找到最符合的選項（可能不一定與您在訂單本中選擇的訂單相同），並為您提供：
    ol
        li
            | 與您的「買入」單價格相同或更低的現有訂單（從最低價開始）；
        li
            | 與您的「賣出」單價格相同或更高的現有訂單（從最高價開始) ;


a.inner(href="#buy_sell")
    h2#buy_sell 如何在 Ethen 上買賣？
.answer
    | 請確認您的錢包已連結，並且選擇您想要交易的代幣。
    br
    | 輸入訂單的金額、最高/最低價格以及到期日，或點選「訂單本」中的訂單以貼上數值。
    br
    | 如果您設定的價格不存在足夠的資產，或者沒有一位買家能夠購買您想要出售的全部數量，您的訂單將以最優惠的價格部分執行。您一部分的訂單將會保留在訂單本中，直至其執行或到期。
    img.gif(src="./media-faq/en/sell.gif", alt="Sell example")

a.inner(href="#cancel_order")
    h2#cancel_order 如何取消未結訂單？
.answer
    img.gif(src="./media-faq/en/cancel_order.gif", alt="Cancel order")

a.inner(href="#new_token")
    h2#new_token 如何將一個代幣放在 Ethen 上販售？
.answer
    img.gif(src="./media-faq/en/new_token.gif", alt="New token")


a.inner(href="#gas_price")
    h2#gas_price 如何設定燃料費？
.answer
    | 燃料費的建議價格是由 Ethen 設定。您可以在此處修改：
    img.gif(src="./media-faq/en/gas.gif", alt="Set gas price")

a.inner(href="#wallets")
    h2#wallets 哪些錢包與 Ethen 平台相容？
.answer
    | 我們建議使用 MetaMask 附加元件或 Ledger Nano S 硬體錢包，以獲得安全便利的使用者體驗。
    br
    | 閱讀如何安裝
    |
    a.link(href="#metamask") MetaMask
    |
    | 擴充套件或連結您的
    |
    a.link(href="#ledger") Ledger
    |
    | 裝置的資訊。
    br
    | 或者，您可以透過私人金鑰使用任何以太坊錢包在 Ethen 上進行交易。雖然 Ethen 不會保存您的私人金鑰，但我們不推薦這種方法。將您的私人金鑰複製到剪貼簿，可能會在我們的網站遭到入侵、您意外造訪網路釣魚網站，或您的電腦上存在可竊取剪貼簿資料的惡意軟體時，導致您的資金被盜取。
    img.gif(src="./media-faq/en/use_pk.gif", alt="Use private key")
a.inner(href="#metamask")
    h2#metamask 如何連結 MetaMask？
.answer
    ul
        li
            | 安裝
            |
            a.link(href="https://metamask.io/") MetaMask
            |
            | 並確保在瀏覽器中啟用擴充套件
        li
            | 點選瀏覽器中的擴充套件圖示，可導入 MetaMask 中現有的儲存內容或建立一個新的儲存內容
        li
            | 重新載入
            |
            a.link(href="https://ethen.market") https://ethen.market
            |
            | 將會在頂部欄位中自動偵測到您的錢包。如果您之前使用的是不同的錢包，請從下拉選單中選擇 'MetaMask'.

a.inner(href="#ledger")
    h2#ledger 如何連結到 Ledger Nano 錢包？
.answer
    ul
        li
            | 在您的 Ledger 設備上安裝
            |
            a.link(href="https://www.ledgerwallet.com/apps/ethereum") Ledger Wallet Ethereum app
            |
            | 應用程式
        li 在 Ledger Wallet Ethereum 應用軟體的設定中，將「合約資料」以及「瀏覽器支援」設定為「是」
        li 將 Ledger 裝置連接到您的電腦
        li 在您的裝置上開啟 Ledger Wallet Ethereum 應用程式
        li
            | 在
            |
            a.link(href="https://ethen.market") https://ethen.market
            |
            | 選擇 Ledger Nano S 錢包

a.inner(href="#contract_link")
    h2#contract_link 我可以在哪裡找到 Ethen 合約原始碼？
.answer
    a.link(href="https://etherscan.io/address/0xf4c27b8b002389864ac214cb13bfeef4cc5c4e8d#code") https://etherscan.io/address/0xf4c27b8b002389864ac214cb13bfeef4cc5c4e8d#code


a.inner(href="#unavailable")
    h2#unavailable 如果網站無法使用，並且我不能取款，怎麼辦？
.answer
    | 取款原始碼已開源，並在
    |
    a.link(href="https://ethenmarket.github.io/") https://ethenmarket.github.io/
    |
    | 上發佈。

a.inner(href="#how_long_withdrawl")
    h2#how_long_withdrawl 存款和取款需要多長時間？
.answer 取決於交易當下的以太坊網路負載，通常需要 14 秒到 2 分鐘。

a.inner(href="#withdrawal_limit")
    h2#withdrawal_limit 是否存在取款限制？
.answer Ethen 不存在取款限制。

a.inner(href="#how_long_trade")
    h2#how_long_trade 交易需要花多長的時間？
.answer 時間限制為 5 分鐘。在 5 分鐘後，交易會自動取消。

a.inner(href="#edit_order")
    h2#edit_order 訂單是否能夠編輯？
.answer
    | 在提交後，您無法修改訂單的細節。前往「交易 > 訂單」以刪除未結訂單並建立新訂單。

a.inner(href="#is_safe")
    h2#is_safe Ethen 是否安全？
.answer
    | 為了最大限度地提高 Ethen 資金的安全性，我們採取了多項措施：
    ul
        li 交易所上並未建立任何使用者帳戶，這意味著您的私人金鑰無法存取您的錢包，也不會儲存您的個人資訊。
        li 發送給 Ethen 智慧型合約的資金是透過兩個數位簽名進行驗證，確保交易資訊正確且無法更改。
        li 取款原始碼開源並發佈至 Github，以防主站無法使用

a.inner(href="#fees_and_limits")
    h2#fees_and_limits 費用以及交易限制為何？
.answer
    | 您只有在執行賣出/買入訂單時支付費用。
    br
    | 掛單費 - 0%
    br
    | 吃單費 - 0.25%

a.inner(href="#order_size")
    h2#order_size 是否存在最小或最大的訂單金額？
.answer 最小訂單金額為 0.001 以太幣。Ethen 沒有最大訂單金額。

a.inner(href="#gas")
    h2#gas 我什麼時候支付燃料？
.answer
    | 燃料是在以太坊區塊鏈上進行的每項操作之執行費用。這項費用是支付給在您的區塊上挖礦的礦工。
    br
    | 您在任何時候向以太坊區塊鏈發送交易時，都需要支付燃料費，包括執行交易以及從錢包中發送代幣或以太幣。
    br
    | 您不需為建立買入/賣出訂單支付燃料，這些訂單無法立即比對並會發送到訂單本中。
    br
    | 請注意，每次交易所需的燃料都會從您的個人錢包中收取。在向 Ethen 存款時，請確保為燃料留有足夠的資金。
