<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ethen FAQ</title>
    <link rel="shortcut icon" href="./favicon.ico">
    <link rel="stylesheet" href="./styles/fonts/stylesheet.css">
    <style>
        include main.css
    </style>
    <script>
        include scroll.js
    </script>
</head>

<body>
    <header>
        <a class="logo" href="https://ethen.market"><img src="./img/logo.svg" /></a>
    </header>
    <main class="scroll">
        include content.#{lang}.pug
    </main>
    <script>
        include main.js
    </script>
</body>

</html>