{
  "extends": ["airbnb", "prettier"],
  "rules": {
    "indent": [2, 2, {
      "SwitchCase": 1
    }],
    "comma-dangle": ["error", "never"],
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "semi": [
      2,
      "always"
    ],
    "no-console": "warn",
    "default-case": "off",
    "no-param-reassign": "off",
    "react/forbid-prop-types": "off",
    "react/prefer-stateless-function": "off",
    "padded-blocks": "warn",
    "no-multiple-empty-lines": "warn"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "parser": "babel-eslint"
}