.token-selector-wrapper {
    width: 200px;
    z-index: 20;
    height: 30px;
}

.Select-menu-outer { max-height: initial !important; }
.Select-menu { max-height: initial !important; }

.Select-control {
    height: 30px;
    border-radius: 2px;
    background-color: #1f2835 !important;
    border: none;
}

.Select.is-open .Select-control {
    background-color: white !important;
    border: 1px solid #bec1c5;
}

.Select-input input {
    padding: 4px 0 8px 10px;
    height: 24px;
};

.Select-placeholder {
    height: 30px;
}

.Select-input {
    height: 30px;
}

.Select-input {
  padding-left: 30px;
  position: relative;
  display: flex;
  align-items: center;
  opacity: 0;
}

.Select.is-open .Select-input {
    opacity: 1;
}
.Select.is-open .Select-input::before {
    display: "block";
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    left: 12px;
    top: 7px;
    background: url('./find.png') no-repeat;
    background-size: cover;
}

.Select-arrow-zone {
    padding-top: 5px;
}